header{
    display: flex;
    height: 14rem;
}

.header {
    background-color: #222222;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}

h1 {
    font-size: 90px;
}

.trybe-logo {
    margin-left: 0px;
    padding: 0;
    width: 18rem;
}
