main {
  display: flex;
  justify-content: center;
  margin-top: 9rem;
  text-align: justify;
}

h2 {
  margin-bottom: 2rem;
  font-size: 1.9rem;
  font-weight: 500;
}

.container-main-div {
  display: flex;
  align-items: center;
  max-width: 80%;
  justify-content: center;

}
.container-main-notice {
  margin-left: 4rem;
  font-size: 1.2rem;
}

.dayAgo {
 color: rgb(107, 107, 107);
 font-size: 1rem;
}

.dayAndLearn {
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.favoriteImg {
  width: 1.2rem;
}

.favoriteNoticeImg {
  height: 30rem;
  width: 150rem;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.616);
}

.learnMoreNotice{
  text-decoration: none;
}

.recent-notice-and-favorite-button {
  display: flex;
  justify-content:space-between;
}

#recent-notice-title {
  color:red;
  font-size: 1.3rem;
}