main {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  text-align: justify;
}

h2 {
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 500;
}

.container-main-div {
  display: flex;
  align-items: center;
  max-width: 80%;
  justify-content: center;

}
.container-main-notice {
  margin-left: 50px;
  font-size: 15px;
}

.dayAgo {
 color: rgb(107, 107, 107);
 font-size: 13px;
}
.dayAndLearn {
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.favoriteImg {
  width: 15px;
}

.favoriteNoticeImg {
  max-width: 600px;
  height: 400px;
  max-height: 520px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.616);
}

.learnMoreNotice{
  text-decoration: none;
}

.recent-notice-and-favorite-button {
  display: flex;
  justify-content:space-between;
}

#recent-notice-title {
  color:red;
  font-size: 15px;
}